fastapi
pydantic
python-dotenv
boto3
botocore
opencv-python
dlib>=19.24.2 --no-cache-dir --find-links https://pypi.anaconda.org/menpo/simple
numpy
imutils
scikit-learn
face-recognition
moviepy
requests
lxml
redis
deepface
tensorflow==2.11.0  # Specify a compatible version of TensorFlow