fastapi
uvicorn
pydantic
python-dotenv
boto3
botocore
opencv-python
dlib>=19.24.2 --find-links https://pypi.anaconda.org/menpo/simple  # 바이너리 버전 사용
numpy
imutils
scikit-learn
face-recognition
moviepy
requests
lxml
redis
deepface
numpy==1.26.4
tensorflow==2.16.2